/*---------------------------------------------------------------- common css */

/* fonts css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}


/*-----------------------------------------------------------------------menubar css*/
.header {
    width: 100%;
    left: 0;
    top: 0;
    background-color: rgb(255, 255, 255);
  }
  
  .header-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
  }
  
  .header .logo {
    padding: 0 15px;
  }

  
  .header .nav-menu {
    padding: 0 15px;
  }
  
  .header .menu>.menu-item {
    display: inline-block;
    margin-left: 30px;
    position: relative;
  }
  
  /*------------------------ if you want change the menubar typography. just change here color property */
  
  .header .menu>.menu-item>a {
    display: block;
    padding: 12px 0;
    font-size: 17px;
    text-decoration: none;
    color: #000000;
    text-transform: uppercase;
    font-weight: 500;
    transition: all 0.2s ease;
  }
  
  /*---------------------- if you want to change menuar list hover color, just change color property */
  
  .header .menu>.menu-item>.sub-menu>.menu-item>a:hover,
  .header .menu>.menu-item:hover>a {
    color: #000000d8;
    ;
  }
  
  
  .header .open-nav-menu {
    height: 34px;
    width: 40px;
    margin-right: 15px;
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding-bottom: 8px;
  }
  
  
  /*--------------------- Responsive hamburger typography starts here */
  
  .header .open-nav-menu span {
    display: block;
    height: 3px;
    width: 24px;
    background-color: #000000;
    position: relative;
  }
  
  .header .open-nav-menu span:before,
  .header .open-nav-menu span:after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    box-sizing: border-box;
  }
  
  .header .open-nav-menu span:before {
    top: -7px;
  }
  
  .header .open-nav-menu span:after {
    top: 7px;
  }
  
  .header .close-nav-menu {
    height: 40px;
    width: 40px;
    background-color: #ffffff;
    margin: 0 0 15px 15px;
    cursor: pointer;
    display: none;
    align-items: center;
    justify-content: center;
  }
  
  .header .close-nav-menu img {
    width: 16px;
  }
  
  .header .menu-overlay {
    position: fixed;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.5);
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;
  }
  
  /*--------------------- Responsive hamburger typography end here */
  
  /* responsive for mobile devices*/
  
  @media(max-width: 991px) {
    .header .menu-overlay.active {
      visibility: visible;
      opacity: 1;
    }
  
    /*------------------ you can change background color for mobile devices */
    .header .nav-menu {
      position: fixed;
      right: -280px;
      visibility: hidden;
      width: 280px;
      height: 100%;
      top: 0;
      overflow-y: auto;
      background-color: #ffffff;
      ;
      z-index: 1000;
      padding: 15px 0;
      transition: all 0.5s ease;
    }
  
    .header .nav-menu.open {
      visibility: visible;
      right: 0px;
    }
  
    .header .menu>.menu-item {
      display: block;
      margin: 0;
    }
  
    .header .menu>.menu-item-has-children>a {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  
    /*---------------------- you can change menubar list color and border for mobile devices */
    .header .menu>.menu-item>a {
      color: #000000;
      padding: 12px 15px;
      border-bottom: 1px solid #e7e7e7;
    }
    .header .menu>.menu-item>a:hover {
      color: #000000;
      padding: 12px 15px;
      border-bottom: 1px solid #e7e7e7;
      transform: translateX(5px);
    }
  
    .header .menu>.menu-item:first-child>a {
      border-top: 1px solid #cbcbcb;
    }
  
    .header .close-nav-menu,
    .header .open-nav-menu {
      display: flex;
    }
  }
  











/*---------------------------------------------------------------- images_gallery css */
.grid-item {
    float: left;
    width: 25%;
    height: auto;
    position: relative;
    overflow: hidden;
}

.grid-item img {
    transition: transform 0.3s ease;
}

.grid-item:hover img {
    transform: scale(1.1);
}

.grid-sizer {
    width: 25%;
}

.grid-item--width2 {
    width: 50%;
}

.grid-item:hover .overlay {
    opacity: 1;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(34, 34, 34, 0.8);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.overlay h3,
.overlay p {
    transition: opacity 0.4s ease, transform 0.5s ease;
}

.overlay h3 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    opacity: 0;
    transform: translateY(20px);

}

.overlay p {
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    max-width: 80%;
    margin-bottom: 0;
    opacity: 0;
    transform: translateY(20px);

}
.overlay-link {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 100%;
    color:#fff;
}
a.overlay-link {
    color: #fff;
    text-decoration: none;
}

.grid-item:hover .overlay h3,
.grid-item:hover .overlay p {
    opacity: 1;
    transform: translateY(0);
}

@media (max-width: 768px) {
    .grid-item {
        width: 50%;
    }

    .overlay h3,
    .overlay p {
        transition: opacity 0.4s ease, transform 0.2s ease;
    }

    .grid-item--width2 {
        width: 100%;
    }
}

/*---------------------------------------------------------------------------- footer css */
footer {
    background: #222;
    color: #999;
    padding: 50px 0px;
    border-top: 1px solid #f8d9905c;
}

.social_icons {
    text-align: right;
}

.social_icons i {
    margin-right: 8px;
    padding: 10px;
    color: #333;
    border: 1px solid chocolate;
    background-color: #fff;
    width: 38px;
    height: 38px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    text-align: center;
    font-size: .9rem;
    line-height: 18px;
    cursor: pointer;
    transition: 0.3s;
}

.social_icons i:hover {
    border: 1px solid chocolate;
    background-color: #111;
    color: #fff;
}

@media (max-width: 768px) {
    .social_icons {
        text-align: left;
    }
}